<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/login.css" />
    <link rel="stylesheet" href="./css/btnAnimation.css" />
    <script src="./js/jQuery.js"></script>
    <title>LogOut</title>
  </head>
  <body>
    <main class="out_main">
      <!-- Formulario de logout -->
      <div class="out_conf">
        <h1 class="out_letter">Are you sure you want to log out?</h1>
        <div class="out_btn">
          <ul class="contact_btnAn quest_btn">
            <li>
              <a class="contact_a">
                <input
                  type="button"
                  value="Yes"
                  id="logout_yes_btn"
                  class="contact_a_input"
                />

                <span class="border border-top"></span>
                <span class="border border-right"></span>
                <span class="border border-bottom"></span>
                <span class="border border-left"></span>
              </a>
            </li>
          </ul>

          <ul class="contact_btnAn quest_btn">
            <li>
              <a class="contact_a">
                <input
                  type="button"
                  value="No"
                  id="logout_no_btn"
                  class="contact_a_input"
                />

                <span class="border border-top"></span>
                <span class="border border-right"></span>
                <span class="border border-bottom"></span>
                <span class="border border-left"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </main>
  </body>
  <script src="./js/login.js" type="module"></script>
</html>
